@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.sidebar-container {
  transition: width 0.3s ease-in-out;
}

.router-link-active {
  position: relative;
  overflow: hidden;
}

.router-link-active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: white;
  animation: fadeIn 0.3s;
}


/* sidebar.component.css */
.sidebar-container {
  top: 0;
  left: 0;
}

@media (max-width: 1023px) {
  .sidebar-container:not(.mobile-menu-open) {
    pointer-events: none;
  }
  
  .sidebar-container > * {
    pointer-events: auto;
  }
}